@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Ubuntu:wght@500;700&display=swap');

h1,h3,h5,p,ul {
    margin: .25em;
}

a, a:visited {
    color: black;
    font-family: "Oxygen", sans-serif;
}

body {
    background-color: green;
    font-family: 'Ubuntu',sans-serif;
    font-size: 12px;
}

#resume {
    width: 8.5in;
    height: 11in;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: .25in;
    background-color: white;
}

.section {
    width: 100%;
    margin-bottom: 1.5em;
}
.section > hr {
    margin-bottom: .5em;
}

#heading {
    
}
#nav {
    display: flex;
    justify-content: space-evenly;
}

#nav > *:not(:last-child) {
    padding-right: .5em;
    border-right: 2px solid black;
}

.job > ul {
    margin-bottom: .25em;
}

.education {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.clean-ul {
    list-style: none;
}

.flex-list {
    height: .75in;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-list > li {
    flex: 1 0 20%;
}

.oxygen {
    font-family: 'Oxygen', sans-serif;
}

.oxygen-heavy {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

